  * {
	box-sizing: border-box;
}

body {
	color: white;
	background-color: hsl(217, 54%, 11%);
	font-family: 'Outfit', sans-serif;
	margin: 0;
	padding: 0;
}

/**************** CODED BY ****************/

#attribution {
	font-size: 10px; 
	text-align: center; 
} 

#attribution a { 
	color: hsl(178, 100%, 50%);
	text-decoration: none;
	border: 1px solid none;
	padding: 5px;
}

#attribution a:hover {
	border: 1px solid hsl(178, 100%, 50%);
	border-radius: 10px;
	padding: 4px;
	background-color: hsl(178, 100%, 50%);
	color: hsl(217, 54%, 11%);
	opacity: 0.75;
}

/******************* CARD ***************/

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}
	

.overlay {
	width: 280px;
  	height: 500px;
  	background-color: hsl(216, 50%, 16%);
  	border-radius: 10px;
}

/***************** IMAGE ****************/

.svg {
	position: absolute;
	opacity: 0;
}

.svg:hover {
	opacity: 0.8;
	background: hsla(178, 100%, 50%, 0.568);
}

.parent {
	padding-top: 18px;
}

.round img {
	margin: 0 15px; 
  	height: 250px;
	border-radius: 10px;
}

.size {
	width: auto;
}

.info {
	margin: 0 21px;
}

/****************** HEADER *****************/

#header {
	margin: 15px 0px;
	font-size: 18px;
	font-weight: 400;
}

#header a {
	color: white;
	text-decoration: none;
}

#header a:hover {
	color: hsl(178, 100%, 50%);
}

/***************** PARAGRAPH ************/

.para {
	font-size: 15px;
	margin-bottom: 22px;
	font-weight: 300;

}

.color {
	color: hsl(215, 51%, 70%);
}

.hr {
	height: 1px;
	background-color: hsl(215, 32%, 27%);
	border: none;
}

/****************** CREATION TAG *************/

#creation a {
	color: white;
	text-decoration: none;
}

#creation a:hover {
	color: hsl(178, 100%, 50%);
}

#creation {
	font-size: 14px;
	font-weight: 300;
	float: left;
	margin: 12px 10px 0px 14px;
}

.avatar {
	width: 13%;
	height: 13%;
	border: 1px solid white;
	border-radius: 50%;
	float: left;
	margin-top: 5px;
}

/**************** ICONS ******************/

#days .icon {
	float: left;
	margin-right: 6px;
	width: 16px;
	height: 16px;
} 

#currency .icon {
	float: left;
	margin-right: 5px;
	width: 9px;
	height: 15px;
}

#currency, #days {
	font-weight: 300;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 16px;
}

#days {
	margin-left: 79px;
}

#currency {
	color: hsl(178, 100%, 50%);
	font-weight: 600;
}
